@import "parameters";


.App-header {
    background-image:  url('../images/background-2.png') !important;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

.header {

    h1 {
        font-size: 5rem;
        text-transform: uppercase;
        font-weight: bold;
        text-align: left;
        display: flex;
        text-wrap: nowrap;

        @media (max-width: $md-breakpoint) {
            font-size: 4rem;
            text-align: center;
            text-wrap: wrap;
        }
    }

    .heading {
        align-self: center;
    }

    .scroll-container {
        position: absolute;
        margin-top: 5rem;
        top: 55%;
        left: 0;
        right: 0;


        @media (max-width: $md-breakpoint) {
            top: 10%;
        }
    }


    .scroll {
        font-size: 1.5rem;
        padding: 0.3rem 0;
        text-transform: uppercase;
        letter-spacing: .3rem;
    }

    .rfm-marquee {
        padding-right: 1rem;
    }

    .image-container {
        position: relative;
        z-index: 10;
    }

    .header-image {
        max-height: 45rem;
        padding: 0 1rem;
        display: block;

        /* Fade the image itself from fully visible to transparent at the bottom */
        -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 100%);
        mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 100%);
    }

}



.hide {
    display: none;
}