// Colours (updated palette):
// #ffe99a, #ffd586, #ffaaaa, #ff9898
$yellow: #ffe99a;
$peach: #ffd586;
$light-pink: #ffaaaa;
$pink: #ff9898;

// Semantic aliases, so existing styles keep working but use the new palette
$orange: $peach;
$orange-hover: $light-pink;
$background-colour: $yellow;


// Sizes
$mobile-max-width: 660px;
$md-breakpoint: 768px;