@import "parameters";

.previous-work {
    justify-content: center; 
}

.work-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .5rem 0;

    background-color: white;
    color: black;

    margin: .5rem;
    padding: 1.5rem .5rem;
    border-radius: 2rem;

    .h3 {
        text-transform: uppercase;
        font-weight: 600;
    }

    p {
        text-transform: uppercase;
    }
}

.work-link {
    color: black;
}